<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Stock Plotter 2000</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  			<h1>Stock Plotter 2000</h1>

  			    <h2>Enter the stock symbol for plotting</h2>
				    <form action="." method="POST">
				        <input type="text" name="symbol">
				        <input type="submit" name="index" value="Send">
				    </form>
		</div>
	</body>
</html>
